@{
    ViewBag.Title = "DD Footwear";
}
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title - My ASP.NET Application</title>
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />
<link href="~/Content/alertifyjs/alertify.min.css" rel="stylesheet" />
<link href="~/Content/alertifyjs/themes/default.min.css" rel="stylesheet" />
<link href="~/Content/Site.css" rel="stylesheet" />

<div class="container">
    <div class="jumbotron text-center">
        <h1>Welcome to DD Footwear</h1>
        <p>Your trusted destination for quality footwear</p>
    </div>

    <div class="row">
        <div class="col-md-6">
            <img src="~/Content/Images/Footwear.jpg" class="img-responsive" alt="DD Footwear Logo" />
        </div>
        <div class="col-md-6">
            <h2>About Us</h2>
            <p>
                DD Footwear is a leading manufacturer and retailer of high-quality footwear in Sri Lanka. With a commitment to comfort and style, we offer a wide range of footwear options for every occasion.
            </p>
            <p>
                Explore our collection and experience the perfect blend of fashion and comfort. Whether you're looking for casual shoes, formal wear, or sporty options, DD Footwear has something for everyone.
            </p>
        </div>
    </div>
</div>

<script src="~/Scripts/alertify.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>